<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1><%= title %></h1>
    <button onclick="location='<%= link %> '">document</button> &nbsp;| &nbsp;
    <button onclick="location='/login'">Logout</button> &nbsp;| &nbsp;
    <hr />
    <script>
        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        const doAddCooke =  () => {
            let tag = document.getElementById("tag").value;
            let name = document.getElementById("name").value;
            let access = document.getElementById("access").value;
            document.cookie=`tag=${tag}`
            document.cookie=`name=${name}`
            document.cookie=`access=${access}`
        }

        const doAdd = async () => {
            // e.preventdefault()
            let id = '<%= document._id %>';
            let tag = document.getElementById("tag").value;
            let name = document.getElementById("name").value;
            let access = document.getElementById("access").value;
            let userId = '<%= userId %>';
            // let type = getCookie('type')
            // let fileLocation = getCookie('fileLocation')
            // let fileSize = getCookie('fileSize')
            
            console.log({
                userId,
                tag,
                name,
                access,
                // type,
                // fileSize,
                // fileLocation
            });

            let response = await fetch('/document/add', {
                    method: '<%= method %>', // or 'PUT'
                    headers: {
                        'Content-Type': 'application/json',
                    },            
                    body: JSON.stringify({id,userId, tag,name,access }),
                })
                .then((response) => response.json())
                .then((data) => {
                    //console.log('Success:', data);
                    return data;
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            if (response.result == "ok") {
                location = '/document';
                document.cookie="type=''"
                document.cookie="fileLocation=''"
                document.cookie="fileSize=''"
            } else {
                alert(response.msg);
            }
        }
    </script>

    <form action="<%= action %>" method="<%= method %>" enctype="multipart/form-data" onsubmit="doAddCooke()">
        Tag:
        <select id="tag" value="<%= document.tag %>">
            <option value="art">art</option>
            <option value="science">science</option>
        </select><br /><br />
        <input id="name" placeholder="Name" value="<%= document.name %>" /><br /><br />
        access:
        <select id="access" value="<%= document.access %>">
            <option value="public">public</option>
            <option value="private">private</option>
        </select><br /><br />
        <input type="file" name="file" /> <br /><br />
        <input type="submit" type="button" value="<%= buttonName %>" >&nbsp; | &nbsp;
        <input onclick="location='/document'" type="button" value="Cancel" />
        <br /><br />
    </form>
    <br /><br />
    <!-- <input onclick="doAdd()" type="button" value="<%= buttonName %>"  /> -->
    &nbsp;&nbsp;

</body>

</html>